[submodule "themes/hucore"]
	path = themes/hucore
	url = https://github.com/bovine3dom/hucore
[submodule "public"]
	path = public
	url = git@github.com:bovine3dom/bovine3dom.github.io.git
	branch = master
